<%= form_for([@pet, @pet.pet_history.build]) do |form| %>
<div class="field">
    <%= form.label "Peso" %>
    <%= form.text_field :weight %>
  </div>

  <div class="field">
    <%= form.label "Alto" %>
    <%= form.text_field :heigth %>
  </div>

  <div class="field">
    <%= form.label "Comentario" %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>